* {
    margin: 0;
    padding: 0;
}

body, html, .main{
    width: 100%;
    height: 100%;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
}

.main__wrapper{
   width: 90%;
   height: 90%;
}

.main__list{
    width: 100%;
    height: 100%;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.main__link{
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

.main__img{
    width: 200px;
    border: 4px solid #003399;
    filter: grayscale(80%);
    transition: filter .5s;
}

.main__link:hover .main__img{
    filter: none;
}
