.window {
    position: absolute;
    top: 10%;
    left: 10%;

    @include horizontal {
        top: 5%;
        left: 50%;
        transform: translateX(-50%);
        max-width: 90%;
        max-height: 90%;
    }

    &__header {
        margin-bottom: 8px;
    }

    &__title {
        margin-top: 0;
        margin-bottom: 4px;

        @include minheight {
            font-size: 16px;
            margin-top: 0;
        }
    }

    &__subtitle {
        font-size: 20px;
    }

    &__info {
        margin-bottom: 8px;
        padding-left: 8px;
    }

    &__item {
        margin-bottom: 8px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__link {
        color: inherit;
        transition: color .2s;

        @include minheight {
            font-size: 14px;
            font-weight: 800;
        }

        &:hover {
            color: $hover;
        }
    }
}
