.window{
    position: absolute;
    top: 10%;
    left: 10%;

    @include horizontal{
        top: 5%;
        left: 50%;
        transform: translateX(-50%);
        max-width: 90%;
        max-height: 90%;
    }

    &__header1{
        @include minheight{
            font-size: 24px;
            margin-top: 0;
        }
    }

    &__header2{
        margin-bottom: 20px;

        @include minheight{
            font-size: 22px;
            margin-bottom: 15px;
        }
    }

    &__item{
        margin-bottom: 10px;

        &:last-child{
            margin-bottom: 0;
        }
    }

    &__link{
        color: inherit;
        font-size: 22px;
        transition: color .2s;

        @include minheight{
            font-size: 18px;
            font-weight: 800;
        }

        &:hover{
            color: $hover;
        }
    }
}
