.window {
    position: absolute;
    top: 10%;
    left: 10%;

    @include horizontal {
        top: 5%;
        left: 5%;
    }

    &__title {
        margin-top: 0;
        margin-bottom: 0;

        @include minHeight {
            font-size: 20px;
        }
    }

    &__subtitle {
        font-size: 20px;
        margin-bottom: 0;

        @include minHeight {
            font-size: 16px;
        }
    }

    &__blocks {
        display: flex;

        & .window__list {
            padding-left: 4px;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        margin-bottom: 8px;
    }

    &__block {
        margin-left: 8px;
    }

    &__block-title {
        margin-bottom: 8px;
    }

    &__list {

    }

    &__item {
        margin-bottom: 4px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__link {
        display: inline-block;
        color: inherit;
        transition: color .2s;

        @include minHeight {
            font-size: 14px;
            font-weight: 800;
        }

        &:hover {
            color: $hover;
        }
    }

    &__link-prefix {
        display: inline-block;
        margin-right: 4px;
    }
}
