.header{
    width: 100%;
    background-color: #fff;
}

.header__up{
    width: 100%;
    text-align: center;
    padding-top: 66px;
}

.header__title{
    font-family: "gilda_displayregular", times, serif;
    font-size: 48px;
    color: #000000;
    text-transform: uppercase;
}

.header__subtitle{
    font-size: 12px;
    font-family: "quattrocento_sansbold", arial, sans-serif;
    color: #cccccc;
    letter-spacing: .075em;
    text-transform: uppercase;
}

.header__down{
    padding: 35px 0;
    display: flex;
}

.header__colum{
    width: 33.3%;
}

.social{
    width: 25%;
}

.social__list{
    list-style-type: none;
    margin-left: 69px;
    font-family: "gilda_displayregular", times, serif;
    color: #111111;
}

.social__item{
    display: inline-block;
}

.social__link{
    display: block;
    text-decoration: none;
}

.menu{
    width: 50%;
}

.menu__list{
    list-style-type: none;
    font-size: 14px;
    color: #111111;
    font-family: "quattrocento_sansbold", arial, sans-serif;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
}

.menu__item{
    display: inline-block;
    margin-right: 30px;
}

.menu__item:last-child{
    margin-right: 0;
}

.menu__link{
    text-decoration: none;
    display: inline-block;
    color: #111111;
    transition: color .2s;
}

.menu__item:hover .menu__link{
    color: #ff0000;
}

.search{
    width: 25%;
    text-align: right;
}

.search__form{
    display: inline-block;
    margin-right: 74px;
}

.search__req{
    display: inline-block;
    width: 50px;
}

.search__req-text{
    outline: none;
    border: none;
    width: 1px;
    border: 1px solid transparent;
    border-right: 1px solid #252525;
    transition: width .3s; 
}

.search__req:hover .search__req-text,
.search__req-text:focus{
    width: 50px;
    border: 1px solid #252525;
}

.search__submit{
    border: none;
    background-color: transparent;
}
