body, html{
    height: 100%;
    width: 100%;
}

* {
    margin: 0;
    padding: 0;
}

.wrapper{
    width: 100%;
    height: 100%;
}

.container{
    max-width: 1920px;
    margin: 0 auto;
    font-family: "quattrocento_sansregular", arial, sans-serif;
    font-size: 14px;
}