@font-face {
    font-family: 'gilda_displayregular';
    src: url('../../fonts/gildadisplay-regular-webfont.woff2') format('woff2'),
         url('../../fonts/gildadisplay-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'quattrocento_sansbold';
    src: url('../../fonts/quattrocentosans-bold-webfont.woff2') format('woff2'),
         url('../../fonts/quattrocentosans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'quattrocento_sansbold_italic';
    src: url('../../fonts/quattrocentosans-bolditalic-webfont.woff2') format('woff2'),
         url('../../fonts/quattrocentosans-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'quattrocento_sansitalic';
    src: url('../../fonts/quattrocentosans-italic-webfont.woff2') format('woff2'),
         url('../../fonts/quattrocentosans-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'quattrocento_sansregular';
    src: url('../../fonts/quattrocentosans-regular-webfont.woff2') format('woff2'),
         url('../../fonts/quattrocentosans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'rufinabold';
    src: url('../../fonts/rufina-bold-webfont.woff2') format('woff2'),
         url('../../fonts/rufina-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'rufinaregular';
    src: url('../../fonts/rufina-regular-webfont.woff2') format('woff2'),
         url('../../fonts/rufina-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'fa-regular';
    src: url('../../fonts/fa-regular-400.woff2') format('woff2'),
         url('../../fonts/fa-regular-400.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}