.first{
    background-image: url("../../img/bg/first-texture.png"), url("../../img/bg/first-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.first__header{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 15%;
}

.first__logo{
    background-image: url("../../img/icons/logo.png");
    background-position: center;
    background-repeat: no-repeat;
    width: 92px;
    height: 69px;
    margin-right: auto;
}

.first-menu__list{
    display: flex;
    font-family: "ubuntumedium", sans-serif;
    font-size: 13px;
    text-transform: uppercase;
}

.first-menu__item{
    margin-left: 2px;
    vertical-align: middle;
}

.first-menu__item:after{
    content: "";
    display: inline-block;
    margin: 0 10px;
    background-color: #fff;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    vertical-align: middle;
}

.first-menu__item:last-child:after{
    display: none;
}

.first__button{
    padding: 10px;
    text-transform: uppercase;
    color: #fff;
    border-radius: 5%;
    background-color: red;
    margin-left: 30px;
    cursor: pointer;
}

.first-box{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.first-box__img{
    display: flex;
    width: 417px;
    height: 424px;
    background-image: url("../../img/bg/first-burger.png"), url("../../img/bg/drops.png");
    background-position: center;
    background-repeat: no-repeat;
}

.first-box__header{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.first-sidebar__list{
    position: absolute;
    right: 5%;
    top: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.first-sidebar__item{
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-bottom: 5.5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.first-sidebar__item:last-child{
    margin: 0;
}

.first-sidebar__item--active{
    border: 1px solid #fff;
}

.first-sidebar__content{
    background-color: #fff;
    width: 7px;
    height: 7px;
    border-radius: 50%;
}

.first__arrow{
    background-image: url("../../img/icons/arrow-scroll.png");
    background-position: center;
    background-repeat: no-repeat;
    width: 29px;
    height: 14px;
    margin-bottom: 30px;
}