.first{
    background-image: url("../../img/bg/first-texture.png"), url("../../img/bg/first-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #fff;
}

.first__inner{
    width: 940px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.first__header{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 12px;
}

.first__logo{
    background-image: url("../../img/icons/logo.png");
    background-position: center;
    background-repeat: no-repeat;
    width: 92px;
    height: 69px;
    margin-right: auto;
}

.first-menu__list{
    display: flex;
    font-family: "ubuntumedium", sans-serif;
    font-size: 13px;
    text-transform: uppercase;
}

.first-menu__item{
    margin-left: 2px;
    vertical-align: middle;
}

.first-menu__item:after{
    content: "";
    display: inline-block;
    margin: 0 10px;
    background-color: #fff;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    vertical-align: middle;
}

.first-menu__item:last-child:after{
    display: none;
}

.first__button{
    padding: 10px;
    text-transform: uppercase;
    font-size: 13px;
    color: #fff;
    border-radius: 5%;
    background-color: #e45028;
    margin-left: 30px;
    cursor: pointer;
}

.first-box{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.first-box__img{
    flex-basis: 50%;
    display: flex;
    width: 417px;
    height: 424px;
    background-image: url("../../img/bg/first-burger.png"), url("../../img/bg/drops.png");
    background-position: center;
    background-repeat: no-repeat;
}

.first-box__header{
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.first-box__title{
    font-family: "gagalinregular", sans-serif;
    font-size: 65px;
    color: #f9b43b;
    text-transform: uppercase;
}

.first-box__subtitle{
    font-family: "lifehackmedium", sans-serif;
    font-size: 65px;
    color: #fff;
    text-transform: lowercase;
}

.first__arrow{
    background-image: url("../../img/icons/arrow-scroll.png");
    background-position: center;
    background-repeat: no-repeat;
    width: 29px;
    height: 14px;
    margin-bottom: 40px;
}