.footer{
    background-color: #4b73b5;
    min-width: 1140px;
    margin-top: -75px;
}

.footer__left,
.footer__center,
.footer__right{
    float: left;
    width: 33.3%;
}

.footer-signature{
    display: inline-block;
    font-size: 14px;
    color: #ffffff;
    margin: 14px 0 17px 17px;
}

.footer-signature__link{
    font-family: 'robotobold';
    color: #ffffff;
}

.footer-logo{
    display: inline-block;
    margin: 20px 0 14px 123px;
}

.footer-social{
    display: inline-block;
    margin: 16px 0 10px 191px;
}

.footer-social__title{
    font-size: 14px;
    color: #ffffff;
    font-family: 'robotobold'
}

.footer-social__list{
    list-style-type: none;
    margin-top: 7px;
}

.footer-social__item{
    display: inline-block;
    margin-right: 6px;
}

.footer-social__link{
    text-decoration: none;
    display: inline-block;
}

.footer-social__wrapper{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ffffff;
    text-align: center;
    overflow: hidden;
}

.footer-social__icon{
    margin-top: 3px;
}