.form-wrapper{
    width: 100%;
    margin-bottom: 53.5px;
  }
  
.form{
    width: 700px;
    margin: 0 auto;
    background-color:  #f5f5f5;
    padding: 43px;
    box-sizing: border-box;
    font-size: 14px;
}

.form__row,
.form__buttons{
    border: 0;
    margin: 0;
    padding: 0;
}

.form__inner{
    margin-left: 24px;
}

.form__title{
    font-family: "robotobold";
    font-size: 49px;
    color: #221f1f;
    margin-bottom: 17px;
}

.form__lable{
    display: block;
    float: left;
    width: 270px;
    margin-right: 23px;
}

.form__row{
    margin-bottom: 15px;
    margin-top: 15px;
}

.form__input{
    margin-top: 7px;
    width: 100%;
    height: 42px;
    box-sizing: border-box;
    padding-left: 5px;
    border-radius: 5px;
    border: none;
    display: block;
    opacity: .5;
}

.form__input-text{
    margin-top: 21px;
}

.form__text{
    display: block;
}

.form__textarea{
    margin-top: 5px;
    min-width: 560px;
    min-height: 88px;
    resize: none;
    box-sizing: border-box;
    padding: 7px;
    overflow-y: hidden;
    outline: none;
}

.form__input:focus,
.form__textarea:focus{
    outline: none;
    border: 1px #1c5bc3 solid;
}

.form__buttons{
    margin-top: 20px;
}

.form__controls{
    float: left;
}

.form__controls-question{
    margin-bottom: 10px;
}

.form__controls-btns{
    margin-top: 3px;
}

.form__controls-radio{
    float: left;
    margin-right: 25px;
}

.form__radio{
    display: inline-block;
    margin-right: 3px;
}

.form__controls-title{
    display: inline-block;
}

.form__submit{
    float: left;
    margin-left: 223px;
    background-color: #4b73b5;
    font-size: 12px;
    font-family: "robotobold";
    width: 155px;
    height: 47px;
    border-radius: 7%;
    color: #ffffff;
}

.form__submit-text{
    letter-spacing: 2.4px;
    text-transform: uppercase;
    position: relative;
    padding: 0 30px 0 10px;
}

.form__submit-text:after{
    content: "";
    display: inline-block;
    background-image: url("../../img/icons/form-button.png");
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    right: 5px;
    top: 0;
    width: 23px;
    height: 18px;
}