.header{
    background-color: #4b73b5;
    padding: 18px 0 16px 0;
}

.header-logo{
    margin-left: 20px;
    float: left;
}

.header-logo__img{
    visibility: hidden;
}

.header-logo__link{
    display: inline-block;
    text-decoration: none;
    background-image: url("../../img/icons/icons-sprite-se.png");
    background-position: -20px -301px;
    width: 120px;
    height: 36px;
}

.header-info{
    margin-right: 21px;
    float: right;
    text-align: right;
    position: relative;
}

.header-info__phone{
    color: #e7ecf5;
    font-size: 21px;
    font-family: 'robotobold', arial, sans-serif;
    display: block;
    text-decoration: none;
}

.header-info__schedule{
    margin: 3px 1px 0 0;
    color: #bfcde4;
    font-size: 14px;
    font-family: 'robotobold', arial, sans-serif;
    text-decoration: underline;
    cursor: pointer;
}

.header-info__schedule:hover + .header-info__dropdown,
.header-info__dropdown:hover{
    display: block;
}

.header-info__dropdown{
    display: none;
    position: absolute;
    width: 161px;
    height: 77px;
    background-color: #fff;
    left: 6%;
    top: 135%;
    box-sizing: border-box;
    box-shadow: 5px 5px 10px;
    
    transition: display .3s;
}

.header-info__dropdown:before{
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    left: 90%;
    top: -7px;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    border-bottom: 8px solid #ffffff;
}

.header-info__dropdown-inner{
    display: inline-block;
    position: absolute;
    width: 125px;
    height: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    line-height: 18px;
    text-align: left;
}

.header-info__dropdown-time{
    font-family: "robotobold", arial, sans-serif;
    color: #1c5bc3;
}

.header-info__dropdown-lunch{
    margin-top: 5px;
    color: #221f1f;
}