.header{
    background-color: #4b73b5;
    padding-bottom: 16px;
}

.header-logo{
    margin: 20px 0 0 20px;
    float: left;
}

.header-logo__link{
    display: inline-block;
}

.header-info{
    margin: 16px 21px 0 0;
    float: right;
    text-align: right;
}

.header-info__phone{
    color: #e7ecf5;
    font-size: 21px;
    font-family: 'robotobold';
    display: block;
    text-decoration: none;
}

.header-info__schedule{
    margin: 3px 1px 0 0;
    color: #bfcde4;
    font-size: 14px;
    font-family: 'robotobold';
    text-decoration: underline;
}