.first{
    background-image: url("../img/bg/first-texture.png"), url("../img/bg/first-bg.jpg");
}

.first__inner{
    width: 940px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.first__header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 12px 10px 0 0;
}

.first__logo{
    background-image: url("../img/icons/logo.png");
    background-position: center;
    background-repeat: no-repeat;
    width: 92px;
    height: 69px;
    margin-right: auto;
}

.first-menu{
    margin-top: 20px;
}

.first-menu__list{
    display: inline-block;
    font-family: "ubuntumedium", Arial, Helvetica, sans-serif;
    font-size: 13px;
    text-transform: uppercase;
}

.first-menu__item{
    vertical-align: middle;
    display: inline-block;

    &:before{
        content: "";
        display: inline-block;
        margin: 0 11px 0 12px;
        background-color: $white;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        vertical-align: middle;
    }

    &:first-child:before{
        display: none;
    }
}

.first-menu__link{
    vertical-align: middle;
}

.first__btn{
    display: inline-block;
    margin: 16px 0 0 19px;
}

.first__btn-link{
    padding: 10px 17px;
    text-transform: uppercase;
    font-size: 13px;
    border-radius: 5%;
    background-color: $orange;
    vertical-align: middle;

    &:hover{
        background-color: $orange-hover;
    }
}

.first-box{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.first-box__img{
    flex-basis: 50%;
    display: flex;
    width: 417px;
    height: 424px;
    background-image: url("../img/content/first-burger.png");
    background-position: center;
    background-repeat: no-repeat;
}

.first-box__header{
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    padding: 78px 0 0 5px;
    letter-spacing: -1.63px;
}

.first-box__title{
    color: $yellow;
}

.first-box__subtitle{
    font-family: "lifehackmedium", Arial, Helvetica, sans-serif;
    font-size: 65px;
    text-transform: lowercase;
    margin-top: 10px;
    line-height: 1;
}

.first__arrow{
    background-image: url("../img/icons/arrow-scroll.png");
    background-position: center;
    background-repeat: no-repeat;
    width: 29px;
    height: 14px;
    padding: 7% 0;
}