.first{
    background-image: url("../img/bg/first-texture.png"), url("../img/bg/first-bg.jpg");
    padding-top: 12px;
}

.first__inner{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.first__header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-basis: 13%;
    padding: 0 7px 0 19px;
}

.first__logo{
    width: 92px;
    height: 69px;
    margin-right: auto;
    transition: transform .2s;

        &-svg{
            width: 92px;
            height: 69px;
        }

        &:hover{
            transform: scale(1.2);
        }
}

.first-menu{
    margin-top: 20px;
}

.first-menu__list{
    display: inline-block;
    font-family: "ubuntumedium", Arial, Helvetica, sans-serif;
    font-size: 13px;
    text-transform: uppercase;
}

.first-menu__item{
    vertical-align: middle;
    display: inline-block;

        &:before{
            content: "";
            display: inline-block;
            margin: 0 11px 0 12px;
            background-color: $white;
            width: 5px;
            height: 5px;
            border-radius: 50%;
            vertical-align: middle;
        }

        &:first-child:before{
            display: none;
        }
}

.first-menu__link{
    vertical-align: middle;

        &:hover{
            text-decoration: underline;
        }
}

.first__btn{
    display: inline-block;
    margin: 16px 0 0 19px;
}

.first__btn-link{
    padding: 10px 17px;
    text-transform: uppercase;
    font-size: 13px;
    border-radius: 5%;
    background-color: $orange;
    vertical-align: middle;

        &:hover{
            background-color: $orange-hover;
        }
}

.first-box{
    flex-basis: 74%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 5% 3%;
    overflow: hidden;
}

.first-box__img{
    flex-basis: 50%;
    width: 417px;
    height: 424px;
    background-image: url("../img/content/first-burger.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.first-box__header{
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    padding-top: 8%;
}

.first-box__title-up{
    color: $yellow;
    display: inline-block
}

.first-box__title-down{
    font-family: "lifehackmedium", Arial, Helvetica, sans-serif;
    font-size: 65px;
    text-transform: lowercase;
    margin-top: 17px;
    line-height: 1;
    color: $white;
    display: inline-block;
}

.first__footer{
    flex-basis: 13%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.first__arrow{
    transition: transform .2s;
    padding-top: 10px;

        &-svg{
            width: 29px;
            height: 14px;
        }

        &:hover{
            transform: scale(1.3);
        }
}