.navigation{
    z-index: 10;
    position: fixed;
    right: 30px;
    top: 90px;
}

.navigation__list{
    display: flex;
    flex-direction: column;
}

.navigation__item{
    margin-bottom: 3px;
    
        &:last-child{
            margin: 0;
        }

        &--active .navigation__link{
            border: 1px solid #fff;
            pointer-events: none;
        }

}

.navigation__link{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: relative;
        
        &:hover{
            border: 1px solid #fff;
        }

        &:after{
            content: "";
            display: inline-block;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            background-color: #fff;
            width: 5px;
            height: 5px;
            border-radius: 50%;
        }
}

.navigation__content{
    
}