.overlay{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $black;
    opacity: .9;
    color: $white;

        &__header{
            width: 100%;
            padding: rem(5px) rem(20px) 0 rem(20px);
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &__close-btn{
            width: rem(20px);
            height: rem(20px);
            position: relative;
            background-color: transparent;

                &:hover{
                    
                    &:before,
                    &:after{
                        background-color: $orange-hover;
                    }
                }

                &:before,
                &:after{
                    content: "";
                    display: block;
                    position: absolute;
                    width: rem(20px);
                    height: rem(3px);
                    border-radius: 5%;
                    transform: rotate(45deg);
                    background-color: $white;
                    opacity: .7;
                }

                &:after{
                    transform: rotate(-45deg);
                }
        }

        &__list{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            flex: 1;
            font-size: rem(24px);
            font-family: "ubuntumedium", Arial, Helvetica, sans-serif;
            text-transform: uppercase;
        }

        &__item{
            display: block;
            position: relative;
            text-align: center;

                &:after{
                    content: "";
                    display: block;
                    margin: rem(25px) auto;
                    width: rem(5px);
                    height: rem(5px);
                    border-radius: 50%;
                    background-color: $white;
                }

                &:last-child:after{
                    display: none;
                }

        }

        &__link:hover{
            color: $orange;
        }

}