.second{
    background-image: url("../img/bg/second-bg.jpg");
    display: flex;
    align-items: center;
}

.second__box{
    padding-bottom: rem(35px);
    padding-left: rem(20px);
    width: 100%;
}

.second__header{
    color: $black;
    text-align: center;
}

.second__list{
    margin-top: rem(35px);
    padding: 0 rem(12px);
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.second__item{
    width: rem(285px);
    text-align: center;
}

.second__img{
    width: rem(100px);
    height: rem(100px);
    margin: 0 auto;
    background-position: center;
    background-repeat: no-repeat;
}

@each $img in (meat, hand, natural) {

    .second__img--#{$img}{
        background-image: url("../img/content/#{$img}.png")
    }

}

.second__title{
    color: $black;
    font-family: "lifehackmedium", Arial, Helvetica, sans-serif;
    font-size: rem(24px);
    margin-top: rem(30px);
}

.second__text{
    text-align: justify;
    margin-top: rem(10px);
    color: $black;
    line-height: rem(24px);
}