.sidebar{
    z-index: 10;
}

.sidebar__list{
    position: fixed;
    right: 5%;
    top: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar__item{
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-bottom: 5.5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar__item:last-child{
    margin: 0;
}

.sidebar__item--active{
    border: 1px solid #fff;
}

.sidebar__content{
    background-color: #fff;
    width: 7px;
    height: 7px;
    border-radius: 50%;
}