.sixth__inner{
    width: 100%;
    height: 100%;
}

.sixth__list{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.sixth__item{
    width: 25%;
    height: 50%;
}

.sixth__img{
    width: 100%;
    height: 100%;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    filter: grayscale(100%);

        &:hover .sixth__img-inner{
            visibility: visible;
        }

}

@each $photo in (client1, client2, client3, client4, client5, client6, client7, client8) { 

    .sixth__img--#{$photo}{
        background-image: url("../img/content/clients/#{$photo}.jpg");
    }

}

.sixth__img-inner{
    visibility: hidden;
    width: 100%;
    height: 100%;
    padding: 14% 7%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.sixth__img-title{
    font-family: "gagalinregular", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

.sixth__img-text{
    line-height: 1.7;
}

.sixth__img-btn{
    background-color: $black;
    display: block;
    width: 110px;
    padding: 10px;
    border-radius: 5%;

    &:hover{
        background-color: $black-hover;
    }
}

.sixth__img-link{
    font-family: "ubuntumedium", Arial, Helvetica, sans-serif;
    font-size: 13px;
    text-transform: uppercase;
}