.slider{
    position: relative;

    &__link{
        position: absolute;

            &--left{
                left: rem(-30px);
                top: 50%;
                transform: translateY(-50%) rotate(90deg);
                transition: scale .3;

                    &:hover{
                        transform: translateY(-50%) rotate(90deg) scale(1.2);
                    }

            }

            &--right{
                right: rem(-40px);
                top: 50%;
                transform: translateY(-50%) rotate(-90deg);
                transition: scale .3;

                    &:hover{
                        transform: translateY(-50%) rotate(-90deg) scale(1.2);
                    }
            }

    }

    &__arrow-left,
    &__arrow-right{
        width: 29px;
        height: 14px;
    }

    &__item{
        display: flex;
        width: 100%;
    }

    &__left,
    &__right{
        display: flex;
        width: 50%;
    }

    &__left{
        justify-content: center;
        align-items: center;
    }

    &__right{
        justify-content: space-between;
        flex-direction: column;
        padding-left: 3%;
    }

    &__text{
        margin-top: rem(40px);
        line-height: rem(23.97px);
    }

    &__footer{
        margin-top: 10px;
        display: flex;
        align-items: baseline;
    }

    &__price{
        color: $orange-light;
        display: flex;
        align-items: flex-end;

            &-left{
                line-height: initial;
                letter-spacing: rem(-1.79px);
            }

            &-right{
                margin-left: rem(10px);
                font-size: rem(30px);
                text-transform: lowercase;
                letter-spacing: rem(-0.75px);
            }

    }

    &__btn{
        margin-left: rem(20px);
    }

}