.slider{
    position: relative;

    &__link{
        position: absolute;

            &--left{
                left: rem(-30px);
                top: 50%;
                transform: translateY(-50%) rotate(90deg);
                transition: scale .3;

                    &:hover{
                        transform: translateY(-50%) rotate(90deg) scale(1.2);
                    }

            }

            &--right{
                right: rem(-40px);
                top: 50%;
                transform: translateY(-50%) rotate(-90deg);
                transition: scale .3;

                    &:hover{
                        transform: translateY(-50%) rotate(-90deg) scale(1.2);
                    }
            }

    }

    &__stuff{
        position: absolute;
        left: 0;
        top: -15%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: rem(90px);
        height: rem(90px);
        background-color: $orange-light;
        opacity: .4;
        cursor: pointer;
        border-radius: 10%;

            &-svg{
                width: 46px;
                height: 44px;
            }

            &-title{
                margin-top: rem(5px);
                text-transform: uppercase;
                font-family: "gagalinregular", Arial, Helvetica, sans-serif;
            }

    }

    &__calorie{
        position: absolute;
        left: 0;
        bottom: -10%;
        font-family: "gagalinregular", Arial, Helvetica, sans-serif;

            &-svg{
                width: 60px;
                height: 60px;
            }

            &-title{
                position: absolute;
                left: 50%;
                top: 60%;
                transform: translate(-50%, -50%);
                opacity: .5;
                font-size: rem(20px);
                text-align: center;

                    &:after{
                        content: "ккал";
                        display: block;
                        position: absolute;
                        font-size: rem(14px);
                        margin-top: rem(13px);
                    }
            }
    }

    &__arrow-left,
    &__arrow-right{
        width: 29px;
        height: 14px;
    }

    &__item{
        position: relative;
        display: flex;
        width: 100%;
    }

    &__left,
    &__right{
        display: flex;
        width: 50%;
    }

    &__left{
        justify-content: center;
        align-items: center;

            &-img{
                background-repeat: no-repeat;
                background-position: center;
            }

    }

    &__right{
        justify-content: space-between;
        flex-direction: column;
        padding-left: 3%;
    }

    &__text{
        margin-top: rem(40px);
        line-height: rem(23.97px);
    }

    &__footer{
        margin-top: 10px;
        display: flex;
        align-items: baseline;
    }

    &__price{
        color: $orange-light;
        display: flex;
        align-items: flex-end;

            &-left{
                line-height: initial;
                letter-spacing: rem(-1.79px);
            }

            &-right{
                margin-left: rem(10px);
                font-size: rem(30px);
                text-transform: lowercase;
                letter-spacing: rem(-0.75px);
            }

    }

    &__btn{
        margin-left: rem(20px);
    }

}